
.dataTable {

    tr:hover td {background:#eaeaea;}
    th {
        position:relative;
        &:after, &:before {
            position:absolute;
            top:50%;right:0.6em;
            display:block;
            content:'\e842';
            font-family: "pixms";
            font-style: normal;
            font-weight: normal;
            line-height:5px;
            speak: none;
            font-size:12px;
            vertical-align:top;
            text-shadow: 0px 1px 0px #fff;
        }
        &:before {margin-top:-6px;content:'\E80A';opacity:0;}
        &:after {margin-top:1px;content:'\E80D';opacity:0;}
    }
    th.sorting, th.sorting_asc, th.sorting_desc {
        padding-right:1.2em;
        &:before {opacity:1;}
        &:after {opacity:1;}
    }
    th.sorting_desc {
        &:before {opacity:0.25}
    }
    th.sorting_asc {
        &:after {opacity:0.25}
    }
    td.datatable-date-column  {
        white-space:nowrap; 
    }
    td.actions, td.datatable-icon-column {
        width:1em;
        white-space:nowrap;
        padding-left:1em;padding-right:1em;
        text-align:center;
        line-height:1.1;
    }
    td.actions {
        width:2em;
    }
    [class^="icon-"], [class*=" icon-"] {
        margin-left:-1px;
        margin-right:-1px;
    }
}
    [class^="icon-"], [class*=" icon-"] {
        font-size:em_size($font_size, 16);
        color:#7b7b7b;
    }
    a[class^="icon-"], a[class*=" icon-"] {
        text-decoration:none;
        color:#7b7b7b;
        &:hover, &:focus, &:active {
            color:#999;
        }
    }
[class^="icon-cancel"], [class*=" icon-cancel"], a[class^="icon-cancel"], a[class*=" icon-cancel"] {color:#f74545;}
a[class^="icon-cancel"], a[class*=" icon-cancel"] {
    &:hover, &:focus, &:active {
        color:#e92727;
    }
}

.dataTables_empty {text-align:center;}

.dataTables_header {
    @include clearfix;
    .ColVis {float:left;}
    .dataTables_filter {
        position:relative;
        float:right;
        &:after {
            position:absolute;
            top:50%;right:0.35em;
            display:block;
            margin-top:-0.125em;
            content:'\E801';
            font-family: "pixms";
            font-style: normal;
            font-weight: normal;
            line-height:5px;
            speak: none;
            color:#363630;
            font-size:1.5em;
            vertical-align:top;
        }
        input {padding-right:2em;}
    }
}

.dataTables_footer {
    margin-bottom:1.5em;
    @include clearfix;
    .dataTables_length {
        float:left;margin-top:-0.75em;
        select, .selectize-control {min-width:0;width:5.5em;margin:0 0.5em;}
        .selectize-control {position:relative;top:0.8em;}
    }
    .dataTables_paginate {
        float:left;margin:0.5em 1.5em 0;
        .paginate_button {
            display:inline-block;
            width:18px;height:18px;margin:0 2px;
            border:1px solid transparent;
            text-align:center;line-height:18px;
            cursor:pointer;
            &:hover, &:focus, &:active {border-color:#CDCDCD;background: #F2F2F2;}
            &.disabled {opacity:0.3;cursor:default;border-color:transparent;background:transparent;}
        }
        .current {border-color:#CDCDCD;background: #F2F2F2;}
        .previous, .next {
            position:relative;
            text-indent:-9999px;
            &:after {
                position:absolute;
                top:0.45em;left:0.3em;
                display:block;
                text-indent:0;
                margin-top:-0.125em;
                content:'\E80C';
                font-family: "pixms";
                font-style: normal;
                font-weight: normal;
                line-height:5px;
                speak: none;
                color:#363630;
                font-size:1.55em;
                vertical-align:top;
            }
        }
        .next:after {
            left:0.35em;
            content:'\E80B';
        }
    }
    .dataTables_info {float:right;margin-top:0.6em;color:#7F7F7F;}
}