.selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header {padding:5px 6px;}
.selectize-input {display:block;color:inherit;}
.selectize-input>input {font-size:1em;}
.selectize-dropdown, .selectize-input, .selectize-input input {color:inherit;font-size:inherit;line-height:inherit;}

.selectize-control {
    display:inline-block;min-width:20em;max-width:100%;
    &.single {
        .selectize-input {
            padding-right:2em;
            background:#E8E8E8;
            background: linear-gradient(to bottom, #FEFEFE 0%, #E8E8E8 100%);
            &:hover {
                background:#efefef;
            }
            &.input-active {background:#fff;}
            input {margin-top:-4px!important;vertical-align: middle;}
            &:before {
                position:absolute;top:0;bottom:0;right:2em;
                display:block;
                content:'';
                border-left:1px solid $color_border;
            }
            &:after {right:0.65em;margin-top:-2px;}
        }
        &.plugin-remove_button [data-value] {padding-right:0!important;}
    }

    .selectize-dropdown {
        .active {color:$color_text;background:#eaeaea;}
        .selected {color:$color_text;font-style:italic;background:#eaeaea;}
    }
    &.multi .selectize-input {
        &.has-items {
            line-height:0.65em;
            padding:2px 0 0 2px;
            > input {
                min-width:1em;
                vertical-align: top;
                padding: 5px 0 !important;
            }
        }

        //&.focus {border-color:#999;}
        > div {
            overflow:hidden;
            max-width:20em;
            padding:3px 6px ;
            margin: 0 2px 2px 0;
            border:1px solid #b4b4b4;
            border-radius:3px;
            color:inherit;
            background-color: #E4E4E4;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height:1.2;
            background: #E8E8E8;
            background: linear-gradient(to bottom , #F1F1F1 0%, #D9D9D9 100%);
            &.active {
                border:1px solid #999;
                background: #eaeaea;
            }
        }
    }
}

.selectize-control.plugin-remove_button [data-value] .remove {
    line-height: 21px;
    font-size: 16px;
    color:#808080;
}