<div  class="Form">
    <form action="{{ action }}" method="{{ method }}" {{{ formAttributes }}} novalidate>
        {{# fields }}
        {{> form/form-field }}
        {{/ fields }}
        {{# groups }}
        {{> form/form-group }}
        {{/ groups }}
    </form>
</div>
