<div {{{ containerAttributes }}}>
    {{# hasLabel }}
        <label class="form-label" for="{{ id }}">{{ label }}</label>
    {{/ hasLabel }}
    {{# hasFakeLabel }}
        <span class="form-label">{{ label }}</span>
    {{/ hasFakeLabel }}
    <div class="form-control">
    {{{ control }}}
    </div>
    {{#error}}
        <strong class="form-field-error icon-minus-circle">{{.}}</strong>
    {{/error}}
</div>