<fieldset name="{{ name }}" {{{ attributes }}}>
    {{#label }}
    <legend>{{ label }}</legend>
    {{/label }}
    {{#fields}}
        {{> form/form-field }}
    {{/fields}}
    {{#groups}}
        {{> form/form-group }}
    {{/groups}}
</fieldset>