{{#break}}
</ul>
<ul>
{{/break}}
<li {{{containerAttributes}}}>
    <a href="{{{href}}}" {{{attributes}}}>{{label}}</a>
    {{#menu}}
    <div class="SubMenu">
        {{>menu/menu}}
    </div>
    {{/menu}}
</li>