{{> partials/head }}
{{> partials/header }}
{{#breadcrumb}}
    {{> partials/breadcrumb }}
{{/breadcrumb}}
    <h1 class="MainTitle">{{page_title}}</h1>
    <div class="CONTENT">
    {{{content}}}
    </div>
{{> partials/footer }}
{{> partials/body-end }}
