<!DOCTYPE html>
<html class="no-js" lang="{{locale}}">
    <head>
        <meta charset="utf-8">
        {{#meta.title}}
        <title>{{.}}</title>
        {{/meta.title}}
        {{^meta.title}}
        <title>{{sitename}} | {{title}}</title>
        {{/meta.title}}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{#meta}}
        {{#description}}<meta name="description" content="{{.}}" />{{/description}}
        {{#twitter.type}}
        <meta name="twitter:card" value="{{.}}" />
        {{/twitter.type}}
        {{^twitter.type}}
        <meta name="twitter:card" value="summary" />
        {{/twitter.type}}
        {{#og}}
        {{#title}}<meta property="og:title" content="{{.}}" />{{/title}}
        {{#type}}
        <meta property="og:type" content="{{.}}" />
        {{/type}}
        {{^type}}
        <meta property="og:type" content="article" />
        {{/type}}
        {{#url}}<meta property="og:image" content="{{.}}" />{{/url}}
        {{#image}}<meta property="og:image" content="{{.}}" />{{/image}}
        {{#description}}<meta property="og:description" content="{{.}}" />{{/description}}
        {{/og}}
        {{/meta}}
        
        {{#typekit}}
        <script type="text/javascript" src="//use.typekit.net/{{.}}.js"></script>
        <script type="text/javascript">try {Typekit.load();} catch (e) {}</script>
        {{/typekit}}
        
        {{#stylesheets.external}}
        <link rel="stylesheet" type="text/css" href="{{{src}}}" media="{{media}}" />
        {{/stylesheets.external}}
        <!-- bower:css -->
        <!-- endinject -->
        <!-- theme:css -->
        <!-- endinject -->
        {{#stylesheets.local}}
        <link rel="stylesheet" type="text/css" href="{{{assetsUrl}}}{{{src}}}" media="{{media}}" />
        {{/stylesheets.local}}
        
        {{#scripts.head.external}}
        <script type="text/javascript" src="{{{.}}}"></script>
        {{/scripts.head.external}}
        <!-- theme-head:js -->
        <!-- endinject -->
        {{#scripts.head.local}}
        <script type="text/javascript" src="{{{assetsUrl}}}{{{.}}}"></script>
        {{/scripts.head.local}}
        {{{head}}}
    </head>
    <body class="PAGE">
        {{{bodyStart}}}
        <!--[if lte IE 9]>
            <p class="OutdatedBrowser">{{{lang.outdated_browser}}}</p>
        <![endif]-->
        <noscript>
        {{lang.javascript_required}}
        </noscript>