<!DOCTYPE html>
<html class="no-js" lang="{{locale}}">
    <head>
        <meta charset="utf-8">
        {{#meta.title}}
        <title>{{meta.title}}</title>
        {{/meta.title}}
        {{^meta.title}}
        <title>{{sitename}} | {{title}}</title>
        {{/meta.title}}
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {{#meta}}
        {{#description}}<meta name="description" content="{{description}}" />{{/description}}
        {{#twitter.type}}
        <meta name="twitter:card" value="{{twitter.type}}" />
        {{/twitter.type}}
        {{^twitter.type}}
        <meta name="twitter:card" value="summary" />
        {{/twitter.type}}
        {{#og.title}}<meta property="og:title" content="{{og.title}}" />{{/og.title}}
        {{#og.type}}
        <meta property="og:type" content="{{og.type}}" />
        {{/og.type}}
        {{^og.type}}
        <meta property="og:type" content="article" />
        {{/og.type}}
        {{#og.url}}<meta property="og:image" content="{{og.url}}" />{{/og.url}}
        {{#og.image}}<meta property="og:image" content="{{og.image}}" />{{/og.image}}
        {{#og.description}}<meta property="og:description" content="{{og.description}}" />{{/og.description}}
        {{/meta}}
        
        {{#typekit_id}}
        <script type="text/javascript" src="//use.typekit.net/{{typekit_id}}.js"></script>
        <script type="text/javascript">try {Typekit.load();} catch (e) {}</script>
        {{/typekit_id}}
        
        {{#stylesheets_external}}
        <link rel="stylesheet" type="text/css" href="{{{src}}}" media="{{media}}" />
        {{/stylesheets_external}}
        <!-- bower:css -->
        <!-- endinject -->
        <!-- theme:css -->
        <!-- endinject -->
        {{#stylesheets}}
        <link rel="stylesheet" type="text/css" href="{{{assets_url}}}{{{src}}}" media="{{media}}" />
        {{/stylesheets}}
        
        {{#scripts_head_external}}
        <script type="text/javascript" src="{{{.}}}"></script>
        {{/scripts_head_external}}
        <!-- theme-head:js -->
        <!-- endinject -->
        {{#scripts_head}}
        <script type="text/javascript" src="{{{assets_url}}}{{{.}}}"></script>
        {{/scripts_head}}
        {{{head_end}}}
    </head>
    <body class="PAGE">
        {{{body_start}}}
        <!--[if lte IE 9]>
            <p class="OutdatedBrowser">{{{lang.outdated_browser}}}</p>
        <![endif]-->
        <noscript>
        {{lang.javascript_required}}
        </noscript>