<header class="HEADER">
    <div class="BRANDING">
        <h1 class="BrandingText">{{sitename}}</h1>
    </div>
    <div class="MAIN_NAV">
        {{#menus.main}}
        <nav class="MainMenu">
            {{> menu/menu}}
        </nav>
        {{/menus.main}}
    </div>
</header>
{{#breadcrumb}}
    {{> breadcrumb }}
{{/breadcrumb}}
    <h1 class="MainTitle">{{title}}</h1>