@charset "UTF-8";
/**
* This stylesheet follows http://www.systematiccss.com/
*/
@import "_variables";
@import "_helpers";

html, body {height:100%;}

//3. Prevent bold text on Mac
html {
    text-rendering: optimizeLegibility; /* 3 */
    text-rendering: geometricPrecision; /* 3 */
    font-smooth: always; /* 3 */
    opacity:0.99; /* 3 */
    font-smoothing: antialiased; /* 3 */
    -moz-font-smoothing: antialiased; /* 3 */
    -webkit-font-smoothing: antialiased; /* 3 */
    -webkit-font-smoothing: subpixel-antialiased; /* 3 */
}


body {font: $font_size*1px/#{1.4} $font_text;color:$color_text;}
