@charset "UTF-8";
/**
* This stylesheet follows http://www.systematiccss.com/
*/

@import "partials/_fontello";

@import "_variables";
@import "_helpers";

html, body {height:100%;}

//3. Prevent bold text on Mac
html {
    text-rendering: optimizeLegibility; /* 3 */
    text-rendering: geometricPrecision; /* 3 */
    font-smooth: always; /* 3 */
    opacity:0.99; /* 3 */
    font-smoothing: antialiased; /* 3 */
    -moz-font-smoothing: antialiased; /* 3 */
    -webkit-font-smoothing: antialiased; /* 3 */
    -webkit-font-smoothing: subpixel-antialiased; /* 3 */
}


body {font: $font_size*1px/#{1.4} $font_text;color:$color_text;}

h1, h2, h3, h4, h5, h6 {margin:1em 0 0.5em;}
h1 {font-size:2.5em;letter-spacing:-1px;}
h2 {font-size:1.75em;letter-spacing:-1px;}
h3 {font-size:1.45em;}
h4 {font-size:1.3em;}
h5 {font-size:1.2em;}
h6 {font-size:1em;}

hr {margin:1em 0;border:1px solid $color_border;border-top:0;}

a:link, a:visited {color:$color_text;}

::-webkit-input-placeholder {
    color: $color_text;
    opacity:1;
}

:-moz-placeholder { /* Firefox 18- */
    color: $color_text;
    opacity:1;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: $color_text;
    opacity:1;
}

:-ms-input-placeholder {  
    color: $color_text;
    opacity:1;
}

:focus {
    outline:1px currentColor dotted;
}

input[type=text],input[type=date], input[type=email], input[type=tel], input[type=url], input[type=password], input[type=search], .selectize-input, textarea, select {
    border: 1px solid $color_border;
    margin: 0px;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px #E5E5E5 inset;
    font-size:1.1em;line-height:normal;
    padding:5px 6px;
    box-sizing: border-box;
    &:focus {border-color:#999;outline:none;}
}

input[readonly]:focus {border-color:$color_border;}

table {
    width:100%;margin:1em 0;
    border-top: 1px solid $color_border;
    border-bottom: 1px solid $color_border;
    th, td {padding:0.5em 0.6em;}
    th {
        color:#4B4B43;
        text-align:left;
        border: 1px solid #CCC;
        box-shadow: 1px 0px 0px 0px #FFF inset,  0px -1px 0px 0px #e3e3e3 inset;
        background: #D9D9D9;
        background: linear-gradient(to bottom , #F1F1F1 0%, #D9D9D9 100%);
        &:first-child {
            box-shadow: 0px -1px 0px 0px #e3e3e3 inset;
        }
    }
    tr:nth-child(2n+1) td {background:#f2f2f2;}
}

@import "partials/_pikaday";
@import "partials/_datatables";
@import "partials/_datatables-buttons";
@import "partials/_selectize";
body {background:#E6E6E6;}
.body-white {width:100%;height:100%;background:#fff;}
.WRAPPER {max-width:1260px;margin-right:auto;margin-left:auto;}
.HEADER {
    background-color:#2e2e27;
    @include clearfix;
}
.TOP_NAV {
    position:relative;z-index:1;
    color:#fff;font-size:1.1em;font-weight:bold;
    background:#43433D;
    @include clearfix;
    a {color:#fff;}
}

.BRANDING {
    background-color:#2e2e27;
    color:#fff;
}

.BrandingText {margin:0;font-size:3em;padding:1em 0.3em 0.5em;}

.MAIN_NAV {
    background-color:#2e2e27;
}

.CONTENT_TOP {
    padding-top:1.5em;
    @include clearfix;
    .MainTitle {float:left;}
    .ContentLinks {float:right;margin-top:0.9em;}
    .Notification {margin-top:0;clear:both;float: left;width: 100%;}
    .Notification:first-of-type {margin-top: -1.5em;}
}

.CONTENT {padding-bottom:3em;}

.MAIN_CONTAINER {float:left;width:100%;background:#fff;}
.MAIN_CONTAINER > .WRAPPER  {padding:0 30px 30px;;}

.FOOTER {
    clear:both;
    padding:1.2em 0 2.4em;
    text-align:right;
}

.Button {
    display:inline-block;
    font-weight:bold;
    font-size:1.1em;line-height:normal;text-decoration:none;
    color:#555;
    padding:5px 15px;
    border:1px solid #b3b3b3;
    border-radius:2px;
    box-sizing: border-box;
    background: #D9D9D9;
    background: linear-gradient(to bottom, #F2F2F2 0%, #D9D9D9 100%);
    cursor:pointer;
    &:link, &:visited {color:#555;}
    &:hover, &:focus, &:active {
        background: #ECECEC;
    }
    &[disabled], &.disabled {background: #ECECEC;cursor:default;opacity:0.75;}
    &.button-ok {
        color:#fff;
        border-color: #16950B;
        background: #0EA700;
        background: linear-gradient(to bottom, #0EA700 0%, #16950B 100%) ;
        &:hover, &:focus, &:active {
            background: #16950B;
        }
        &[disabled], &.disabled {background: #16950B;}
    }
    &.button-error {
        color:#fff;
        border-color: #e92727;
        background: #f74545;
        background: linear-gradient(to bottom, #f74545 0%, #e92727 100%) ;
        &:hover, &:focus, &:active {
            background: #e92727;
        }
        &[disabled] {background: #e92727;}
    }
}

.Button:link {
    text-decoration:none;
}

input[type=radio] {position:relative;top:2px;}
.radiostyle-container {
    position:relative;display:inline-block;overflow:hidden;
    vertical-align:bottom;
    cursor:pointer;
    input {position:absolute;top:-11px;left:-11px;opacity:0;}
    input:focus + .radiostyle {border-color:#999;}
    .radiostyle {
        position:relative;top:2px;
        display:inline-block;
        width:11px;height:11px;
        border:1px solid #d8d8d8;
        border-color:#bbb #cfcfcf #d8d8d8;
        border-radius:50%;
        background:#e6e6e6;
        box-shadow: 0px 1px 2px 0px #aaa inset;
    }
    &.radiostyle-checked {
        .radiostyle:before {
            position:absolute;
            top:2px;left:2px;
            bottom:2px;right:2px;
            display:block;
            content:'';
            border-radius:50%;
            background:$color_text;
        }
    }
}
input[type=checkbox] {position:relative;top:2px;}
.checkboxstyle-container {
    position:relative;display:inline-block;overflow:hidden;
    vertical-align:bottom;
    cursor:pointer;
    input {position:absolute;top:-12px;left:-12px;opacity:0;}
    input:focus + .checkboxstyle {border-color:#999;}
    .checkboxstyle {
        position:relative;top:2px;
        display:inline-block;
        width:12px;height:12px;
        border:1px solid $color_border;
        border-radius:2px;
        box-shadow: 0px 1px 2px 0px #E5E5E5 inset;
    }
    &.checkboxstyle-checked {
        .checkboxstyle:before {
            position:absolute;
            top:4px;left:2px;
            display:block;
            content:'\e842';
            font-family: "pixms";
            font-style: normal;
            font-weight: normal;
            line-height:5px;
            speak: none;
            font-size:14px;
            color:$color_text;
            vertical-align:top;
        }
    }
}
.Upload {
    line-height:1.2;
    border: 1px solid $color_border;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px #E5E5E5 inset;
    background: #f2f2f2;
    .dz-clickable {padding:6px 0.5em;cursor:pointer;}
    .dz-clickable + .dz-preview {border-top: 1px solid $color_border;}
    .icon-search {
        font-size:1.1em;
        span {@include hidden;}
        &:hover {
            ~ .dz-image {
                position:absolute;top:100%;left:0;display:block;z-index:10;
                padding:8px;
                border: 1px solid $color_border;
                border-radius: 2px;
                box-shadow: 0px 1px 2px 0px #E5E5E5 inset;
                background:#fff;
                cursor:default;
            }
        }
    }
    .dz-file-preview .icon-search {display:none;}
    &.dz-highlight {
        border-color: #E8F917;
        background: #FBFFC1;
    }
    &.dz-drag-hover {
        color:#44B609;
        border-color:#44B609;
        background:#D4FEB3;
    }
    .dz-remove span {@include hidden;}
    .dz-image {display:none;}
    .dz-preview {
        position:relative;
        padding:6px 0.5em;
        background-color:#fff;
        .dz-file > a {float:left;}
        .dz-details {display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
    }
    .dz-progress {
        position:absolute;top:0;left:0;right:0;
        .dz-upload {
            width:0;display:block;height:3px;background-color:#44B609;
            transition:background-color 0.25s ease, width 0.25s ease;
        }
    }
    .dz-success .dz-progress {display:none;}
    .dz-error {display:none;}
}
input[type=date],input[type=text], input[type=search], input[type=password], textarea, select, .selectize-input, input.filestyle {
    border: 1px solid $color_border;
    margin: 0px;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px #E5E5E5 inset;
    font-size:1.1em;line-height:normal;
    padding:5px 6px;
    box-sizing: border-box;
    &:focus {border-color:#999;outline:none;}
}

input[type=date] {height:30px;}

input[type=file] {width:auto;height:em_size($font_size, 30);}

.Overlay {
    position:fixed;top:0;bottom:0;left:0;right:0;z-index:99999;
    background:#fff;
    background:rgba(255,255,255, 0.9);
    .overlay-container {
        display:table;
        width:100%;height:100%;padding:10%;
        box-sizing:border-box;
    }
    .overlay-content {
        display:table-cell;text-align: center;vertical-align: middle;
        width:100%;height:100%;
        overflow:auto;
    }
}

.Notification {
    padding:0.5em 1em;margin:1em 0;
    border-radius:2px;
    border:1px solid #ccc;
    color:#666;
    background:#f0f0f0;
    box-sizing:border-box;
    &.notification-warning {
        color: #B7B934;
        border-color: #E8F917;
        background: #FBFFC1;
    }
    &.notification-error {
        color:#f74545;
        border-color:#f74545;
        background:#FFE9E9;
    }
    &.notification-success {
        color:#44B609;
        border-color:#44B609;
        background:#D4FEB3;
    }
}

fieldset {padding:0;border:0;margin:0;}

@import "partials/_ckeditor";

.Form {
    margin-right:em_size($font_size, -30);
    .form-field {
        margin-bottom:em_size($font_size, 15);
        @include clearfix;
        &.form-field-hidden {display:none;}
        &.form-field-radio, &.form-field-checkbox {
            ul {list-style:none;padding:em_size($font_size, 5) 0 em_size($font_size, 6);margin:0;}
            li {display:inline-block;margin-right:1.3em;}
            &.form-field-vertical li {display:block;margin:0 0 0.25em 0;}
        }
        &.form-field-checkbox {
            input[type=checkbox], .checkboxstyle-container {width:auto;margin-right:0.2em;}
        }
        &.form-field-radio {
            input[type=radio], .radiostyle-container {width:auto;margin-right:0.2em;}
        }
        &.form-field-date .form-control {
            position:relative;
            float:left;
            &:after {
                position:absolute;top:0.5em;right:0.5em;
                @include fontello;
                margin:0;
                content:'\E800';
                color:#888;
            }
            input[type=date], input[type=text] {padding-right:1.75em;}
            +.form-error {clear:both;}
        }
        .form-label {float:left;font-weight:bold;margin-bottom:0.35em;font-size:0.85em;text-transform: uppercase;}
        .form-control {
            clear:both;
            input[type=text], input[type=password], input[type=email], input[type=tel], input[type=url], textarea {width:100%;}
            textarea {max-width:100%;resize: vertical;}
        }
    }
    fieldset {
        margin-bottom:1.5em;box-sizing:border-box;
        clear:both;
        > .form-field {
            padding-right:em_size($font_size, 30);
        }
    }
    legend {display:block;margin-bottom:0.5em;font-size:1.75em;letter-spacing:-1px;font-weight:bold;}
    legend span {font-size:0.8em;}
    .form-group-collapsible {
        legend {cursor:pointer;}
    }
    .form-group-datatables {
    .form-field-html .form-control {
        > .Button {float:right;margin-top:em_size($font_size, -47);}
    }
    }
    .form-group-2-columns {
        float:left;width:50%;
        &:nth-of-type(2n+2) {clear:none;}
        &.form-group-framed {
            width:calc(50% - #{em_size($font_size, 30)});
        }
    }
    .form-group-datatables {clear:both;}
    .form-group-buttons {
        border-top:1px solid $color_border;
        clear:both;margin-bottom:0;margin-right:em_size($font_size, 30);
        padding-top:em_size($font_size, 30);
        text-align:right;
        @include clearfix;
        .form-field {margin-left:0.5em;padding-right:0;}
        .form-field:after {display:none;}
        .form-field, .form-control {
            display:inline;clear:none;
        }
    }
    .form-group-framed {
        padding:1em 0 1em 2em;
        border:1px solid #ccc;
        border-radius:2px;
        box-shadow: 2px 2px 0 0 #ececec;
        background:linear-gradient(to bottom, #fff 10%, #E6E6E6 80%);
    }
    .form-field-error {
        display:block;
        margin:0.3em 0.4em;
        font-size:0.85em;color:#f74545;font-style:normal;font-weight:normal;
        &:before {margin-right:0.5em;}
    }
}

.FloatingBox {
    position: absolute;
    top: 35%;left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align:left;
    width:50%;max-width:em_size($font_size, 400);min-width:em_size($font_size, 300);
    .floating-box-branding {
        position:absolute;bottom:100%;left:0;right:0;
        text-align:center;
    }
    .Notification {margin:0 0 0.3em;}
    .Form {margin-right:0;}
    fieldset {margin-bottom:0;}
    .floating-box-content {
        position:relative;
        padding:2em;
        border:1px solid #ccc;
        border-radius:2px;
        box-shadow: 2px 2px 0 0 #ececec;
        background:linear-gradient(to bottom, #fff 10%, #E6E6E6 80%);
        > :last-child {margin-bottom:0;}
        &:before {
            position:absolute;bottom:100%;left:50%;
            display:block;margin-left:-9px;
            content:'';
            border:9px solid transparent;
            border-bottom-color:#ccc;
        }
        &:after {
            position:absolute;bottom:100%;left:50%;
            display:block;margin-left:-8px;
            content:'';
            border:8px solid transparent;
            border-bottom-color:#fff;
        }
        legend {float:left;width:100%;text-align:center;font-weight:bold;font-size:1.35em;margin-bottom:1em;}
        .form-field-submit {float:right;}
    }

}

.TopMenu {
    float:left;
    ul {margin:0;padding:0;list-style:none;}
    li {
        display:inline-block;padding:0.1em 0 0.1em 0.75em;margin:0.6em 0 0.6em 0.5em;
        border-left:1px solid #A0A0A0;
        &:first-child {border-left:none;margin-left:0;padding-left:0;}
        [class^="icon-"]:before, [class*=" icon-"]:before {
            position:relative;top:1px;font-size:1.32em;line-height:1;margin-right:0.15em;
        }
    }
    a {
        text-decoration:none;
        &:hover, &:focus, &:active {opacity:0.7;}
    }
}

.UserInfo {
    position:relative;
    float:right;
    .user-info-name {
        display:inline-block;padding:0.73em 0.5em;
        vertical-align:middle;
        cursor:pointer;
        &:after {
            position:relative;top:0.15em;
            display:inline-block;margin-left:0.65em;
            font-weight: normal;
            font-size:1.5em;margin-top:-0.5em;
            content:'\E83D';
            font-family:'pixms';
        }
    }
    &:hover, &:focus, &:active {
        background:#2e2e27;
        .user-info-menu {display:block;}
    }
    .user-info-menu {
        display:none;
        position:absolute;right:0;top:100%;
        width: 13.8462em;
        border: 1px solid #DFDFDF;
        color: #2E2E27;
        font-weight:normal;
        border-radius: 3px;
        background: #FFF none repeat scroll 0% 0%;
        box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.15);
        [class^="icon-"]:before, [class*=" icon-"]:before {
            color:#7B7B7B;line-height:1;
        }
        &:after {
            position:absolute;bottom:100%;right:1.25em;
            display:block;
            content:'';
            border:solid transparent;
            border-width: 7px 4px;
            border-bottom-color:#fff;
            border-top:none;
        }
        .user-info-welcome {
            padding:0.8em;line-height:1.2;
        }
        ul {
            padding:0;margin:0;list-style:none;
            border-style: solid;
            border-color: #BFBFBF;
            border-width: 1px 0px;
            li:first-child a{border-top:none;}
        }
        a {
            display:block;
            border-top: 1px solid #DFDFDF;
            line-height:1.2;text-decoration:none;
            padding: 0.45em 0.55em;
            color:$color_text;
            &:hover, &:focus, &:active {background:#efefef;}
        }
    }
}

.MainMenu {
    position:relative;
    float:left;width:100%;
    border: 1px solid #CCC;
    border-radius: 3px 3px 0px 0px;
    background: linear-gradient(to bottom, #EFEFEF 0%, #DADADA 100%);
    box-sizing:border-box;
    ul {margin:0;padding:0;list-style:none;}
    li {float:left;}
    > ul > li {
        > a {
            float:left;
            padding:0.55em 1.5em;
            font-weight: bold;
            font-size: 1.2em;
            text-decoration: none;
            color: #808080;
            border-right: 1px solid #CECECE;
            box-shadow: 1px 0px 0px 0px #FFF;
            &:hover, &:focus, &:active {background:#EFEFEF;}
        }
        &.menu-item-parent,
        &.menu-item-active {
            > a {position:relative;top:1px;padding-top:0.6em;margin-top:-1px;color:#2e2e27;background:#FFFFFF;cursor:default;}
            > nav {
                position:absolute;
                top:100%;left:0;
                display:block;
                a {
                    position:relative;
                    display:inline-block;
                    padding:1em 1em;
                    color:#2e2e27;text-decoration:none;
                }
                a:hover, a:focus, a:active, li.active a {
                    &:before {
                        position:absolute;bottom:0;left:50%;
                        display:block;margin-left:-6px;
                        content:'';
                        border:6px solid transparent;
                        border-bottom-color:#bfbfbf;
                    }
                    &:after {
                        position:absolute;bottom:0;left:50%;
                        display:block;margin-left:-5px;
                        content:'';
                        border:5px solid transparent;
                        border-bottom-color:#fff;
                    }
                }
                li.menu-item-active a  {cursor:default;}
            }
        }
    }
    nav {display:none;}
}

.SubMenuPlaceholder {
    height:3.2em;
    background:#fff;
    border-bottom:1px solid #bfbfbf;
}

.Breadcrumb {
    padding:0;margin:0;list-style:none;
    strong {display:none;}
    li {display:inline;}
    li:before {
        position:relative;top:-0.1em;
        display:inline-block;
        width:0;height:0;margin:0 0.3em 0 0.5em;
        content:'';
        border:4px solid transparent;
        border-right:none;
        border-left-color:#ccc;
        vertical-align:middle;
    }
    li:first-child:before {display:none;}
    a {
        text-decoration:none;
        &:hover, &:focus, &:active {opacity:0.7;}
    }
}
.MainTitle {margin:0 0 1em;}
.Colophon {font-size:em_size($font_size, 12);}

.ContentLinks {
    text-align:right;
    ul {padding:0;margin:0;list-style: none;}
    li {display:inline;}
    a {font-weight:bold;text-decoration:none;margin-left:0.5em;}
    a:not(.Button) {
        &:hover, &:focus, &:active {opacity:0.7;}
    }
    [class^="icon-"]:before, [class*=" icon-"]:before {margin-right:0.45em;}
}


.Status {
    position:relative;top:2px;
    display:inline-block;
    .status-activate {
        position:absolute;top:0;bottom:0;left:50%;right:0;z-index:1;
        display:block;
        cursor:pointer;
        &:hover, &:focus, &:active {
            ~ .status-bg {background:#10ca44;}
            ~ .status-handle {left:100%;margin-left:-1em;}
        }
    }
    .status-deactivate {
        position:absolute;top:0;bottom:0;left:0;right:50%;z-index:1;
        display:block;
        cursor:pointer;
        &:hover, &:focus, &:active {
            ~ .status-bg {background:#ea6645;}
            ~ .status-handle {left:0;margin-left:0;}
        }
    }
    .status-handle {
        position:absolute;top:0;left:50%;
        width:1em;height:1em;margin-left:-0.5em;
        border:1px solid #999999;
        border-radius:2px;
        box-sizing: border-box;
        background:#f2f2f2;
        transition:left 0.35s ease, margin-left 0.35s ease;
    }
    .status-bg {
        display:block;
        height:1em;
        border:1px solid #999999;
        box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.15);
        width:2.3em;
        background:#7b7b7b;
        border-radius:2px;
        box-sizing: border-box;
        transition:background-color 0.35s ease;
    }
    &.status-active {
        .status-bg {background:#10ca44;}
        .status-handle {left:100%;margin-left:-1em;}
        .status-activate {display:none;}
    }
    &.status-inactive {
        .status-bg {background:#ea6645;}
        .status-handle {left:0;margin-left:0;}
        .status-deactivate {display:none;}
    }
}